# Backend Configuration
PORT=3001
EXAM_TYPE=7-R-1
LAST_NAME=Bousaeidi
LICENSE_NUMBER=30236362
APPOINTMENT_SEARCH_DAYS=14
ICBC_KEYWORD=2336lili

# Bot Configuration
TELEGRAM_BOT_TOKEN=7613092980:AAGgbFIr1qoAQhHUkGDRo_yNlzccagfboMU
TELEGRAM_CHANNEL_ID=-1002467912834
API_URL=http://backend:3001/appointments
DEBUG_MODE=false
UPDATE_INTERVALS=1,1.25,1.5,1.75,2