# Backend Configuration
PORT=3000
EXAM_TYPE=G
LAST_NAME=YourLastName
LICENSE_NUMBER=123456
APPOINTMENT_SEARCH_DAYS=60

# Bot Configuration
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHANNEL_ID=your_channel_id
API_URL=http://backend:3000/appointments
DEBUG_MODE=false
UPDATE_INTERVALS=1,1.25,1.5,1.75,2

# ICBC API Configuration (if needed)
# ICBC_KEYWORD=your_keyword 